@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-hover text-center">
                <div class="col-1">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col-1" class=>Pair</th>
                            <th scope="col-1" class="col-1">Only sell</th>
                            <th scope="col" class=>Strategy</th>
                            <th scope="col" class="col-1">TF</th>
                            <th scope="col" class="col-1">Param</th>
                            <th scope="col" class="col-1">Take-profit %</th>
                            <th scope="col" class="col-1">Value</th>
                            <th scope="col" class="col-1">Add purch.%</th>
                            <th scope="col" class="col-1">Number of purch</th>
                            <th scope="col" class="col-1">Martins coef.</th>
                            <th scope="col" class="col-1">SL %</th>
                
                        </tr>
                    </thead>
                </div>
                <tbody>
                    <tr>
                        <td class = "text-center "  ><input type="text" size="" value="LTCUSTD" class="form-control text-center mt-1" id="pair1"></td>
                        <td class="text-center form-switch"><input class="form-check-input mx-auto "  type="checkbox"></td>
                        <td class="text-center">
                            <select class="form-control" id="exampleFormControlSelect1" >
                            <option>market price</option>
                            <option>before param</option>
                            <option>before MA</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control text-center" id="exampleFormControlSelect1" >
                            <option>1m</option>
                            <option>3m</option>
                            <option>5m</option>
                            <option>15m</option>
                            <option>30m</option>
                            <option>1h</option>
                            <option>2h</option>
                            <option>4h</option>
                            <option>6h</option>
                            <option>8h</option>
                            <option>12h</option>
                            <option>1d</option>
                            <option>3d</option>
                            <option>1w</option>
                            <option>1M</option>
                            </select>
                        </td>
                        <td class = "text-center"  ><input type="text" size="1" value="7" class="form-control  text-center " id="param1"></td>

                        <td class = "text-center"  ><input type="text" size="1" value="0.7" class="form-control text-center " id="tf1"></td>

                        <td class = "text-center"  ><input type="text" size="1" value="11" class="form-control text-center " id="param1"></td>

                        <td class = "text-center"  ><input type="text" size="1" value="2.5" class="form-control text-center " id="tf1"></td>

                        <td class = "text-center"  ><input type="text" size="1" value="5" class="form-control text-center " id="tf1"></td>
                        <td class = "text-center"  ><input type="text" size="1" value="1.25" class="form-control text-center " id="tf1"></td>
                        <td class = "text-center"  ><input type="text" size="1" value="0" class="form-control text-center " id="tf1"></td>
                       
   
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 ">
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="mb-1">Balances</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group mt-3 mb-1">
                <label for="exampleFormControlTextarea1" class="mb-1">Opened positions</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
